body{
    margin: 100px 300px;
    border: 3px;
    border-style: solid;
    padding: 25px;
    background-color: rgb(132, 125, 125);
    color: white;
}

.d-flex{
    display: flex;
}
ul{
    display: flex;
    justify-content: space-between  ;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80px;
}

.todos_capitulos{
    display: flex;
    flex-direction: column;
}